:root {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: #080808; */
  /* color: #fff; */
}

/* ===========================
  Header
==============================*/ 

header {
  position: fixed;  
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  padding: 0 20px;
  flex-direction: column;
  z-index: 10;
  background: #040b14;
  color: #fff;
}

.profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  display:block;
  border: 4px solid #2c2f3f;
}



/* === Hero and Main === */


#hero{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("./assets/mountains.jpg");
  background-size: cover;
  background-attachment: fixed; 
  width: 100%;
  height: 100vh;
  color: #fff;
}


#hero h1{
  font-size: 64px;
  font-weight: 700;
}

main{
  margin-left: 300px;
}

.topic {
  padding-top: 1.68em;
  padding: 0 30px;
}

.title{
  margin: 1.68em 0;
}

/* === About === */

.about img {
  height: 300px;
  display: block;
}
.infoList{
  padding: 0 20px;

}
.infoList > li{
  margin-bottom: 1.68em;
  list-style: circle;
}

/* === Skills === */


.skills{
  background-color: #d6dee8;
  padding-top: 1.68rem;
}